* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    height: 100%;
    width: 100%;
}

#page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    /* padding: 0 2vw; */
}
/* navigation bar with some animations */
nav{
    padding: 2vw 3vw;
    height : 100px;
    width: 100%;
    background-color: #C5E0D8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}
.nav1{
    font-weight: 100vmin;
    font-size: 100%;
    font-family:'Gilroy';
}
.nav2 ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2vw;
}
.nav2 ul li {
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.774);
    color: #000000bb;
    border-radius:50px;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}
.nav2 ul li::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}
.nav2 ul li:hover::after{
    bottom: 0;
    border-radius: 0;
}
.nav2 ul li a{
    color: #000000bb;
    text-decoration: none;
    z-index: 9;
    position:relative;
}
.nav2 ul li:hover a{
    color: white;
}
/*center text*/

.center{
    height:65vh;
    width: 100%;
    background-color: #B5FFE9;
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 2.5vw;
}
.left{
    padding-left: 1.5vw;
    line-height: 4vw;
}
.left h3{
    width: 25vw;
    font-size:1.85vw;
    line-height: 2vw;
}
.left a{
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.774);
    color: #000000bb;
    border-radius:50px;
    font-weight: 500;
    font-size: 18px;
}

.center{
    display: flex;
    justify-content: space-around;
}



.left{
    margin-bottom: 5rem;
}

.center .left > h3{
    margin-bottom: 3rem;
}
.center .right{
    height: 300px;
    width: 450px;
    margin-bottom: 3rem;
}
/* .center .right{
    width: 25vw;
    font-size: 2vw;
    text-align: right;
    padding:0 2vw;
} */


/*mid section*/
.mid{
    margin-top: .5vw;
    background-color:#CEABB1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mid video{
    border-radius: 20px;
    width:50%;
}
.mid p{
    font-size: 1.25rem;
    font-weight: 500;
    width:45%;
}

#page2{
    min-height: 100vh;
    width: 100%;
    padding: 8vw 0;
}
#moving-text{
    overflow-x: auto;
    white-space: nowrap;
}
#moving-text::-webkit-scrollbar{
    display:none;
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 11s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#moving-text h1{
    font-size: 6vw;
    display:inline-block;
}
#circle{
    height:20px;
    width:20px;
    border-radius: 50%;
    background-color: #FCFC62;
    display: inline-block;
    margin: 0 2vw;
}
@keyframes move{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}
#page2-bottom{
    height: 70vh;
    width: 100%;
    background-color: alliceblue;
    display: flex;
    padding: 3vw 2vw;
    align-items: center;
    justify-content: space-between;
}
#page2-bottom h1{
    font-size: 2.5vw;
    width: 40%;
}
#page2-bottom image{
    width: 30%;
}
/* bottom */

.links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left:40px;
    grid-gap:5px;
}
.links a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bolder;
}
.links a:hover{
    color: red;
}
.page3{
    background-color: #C5E0D8;
}


