* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    height: 100%;
    width: 100%;
}

#page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    /* padding: 0 2vw; */
}
/* navigation bar with some animations */
nav{
    padding: 2vw 3vw;
    height : 100px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}
.nav1{
    font-weight: 100vmin;
    font-size: 100%;
    font-family:'Gilroy';
}
.nav2 ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2vw;
}
.nav2 ul li {
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.774);
    color: #000000bb;
    border-radius:50px;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}
.nav2 ul li::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}
.nav2 ul li:hover::after{
    bottom: 0;
    border-radius: 0;
}
.nav2 ul li a{
    color: #000000bb;
    text-decoration: none;
    z-index: 9;
    position:relative;
}
.nav2 ul li:hover a{
    color: white;
}
/*center text*/

.center{
    height:90vh;
    width: 100%;
    background-image: url("firstBack.jpg");
    background-size: cover;
    /* display:flex; */
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 2.5vw;
    color: azure;
}
.left{
    padding-left: 1.5vw;
}
.left a{
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid azure;
    color: azure;
    border-radius:50px;
}
.left h4{
    padding-left: 1.5vw;
}

.center{
    display: flex;
    justify-content: space-around;
}



/* .left{
    margin-bottom: 5rem;
} */

.center .left > p{
    margin-top: 3rem;
    padding:0 2vw;
    margin-bottom: 3rem;
    font-size: 1.25rem;
    max-width: 30vw;
    font-family:'Times New Roman', Times, serif;
}
.center .right{
    height: 300px;
    width: 450px;
    margin-top: 3rem;
    margin-left: 2rem;
}
.center .right{
    width: 10vw;
    font-size: 1.50vw;
    text-align: left;
    padding:0 2vw;
}


/*mid section*/
.mid{
    height: 100vh;
    margin-top: .5vw;
    background-color:azure;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mid video{
    margin-left: 10vh;
    margin-right:10vh;
    border-radius: 20px;
    width:50em;
}
.mid p{
    margin-top: 2vh;
    margin-right: 166px;
    font-size: 1.25rem;
    font-weight: 538;
    /* width:374vh; */
    gap: 2rem;
}

#page2{
    min-height: 100vh;
    width: 100%;
    padding: 5vh 0;
}
#moving-text{
    overflow-x: auto;
    white-space: nowrap;
}
#moving-text::-webkit-scrollbar{
    display:none;
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 11s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#moving-text h1{
    font-size: 6vw;
    display:inline-block;
}
#circle{
    height:20px;
    width:20px;
    border-radius: 50%;
    background-color: #FCFC62;
    display: inline-block;
    margin: 0 2vw;
}
@keyframes move{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}
#page2-bottom{
    height: 70vh;
    width: 100%;
    background-color: alliceblue;
    display: flex;
    padding: 3vw 2vw;
    align-items: center;
    justify-content: space-between;
}
#page2-bottom h1{
    font-size: 2.5vw;
    width: 40%;
}
#page2-bottom image{
    width: 30%;
}
/* bottom */

footer{
    /* margin-top: 5px; */
}
.foot1 p{
    background-color:#37475a;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    height:50px;
    font-size:0.85rem;
}
.foot2{
    background-color: #222f3d;
    color:#cccccc;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
.foot2 ul{
    margin-top: 15px;
}
.foot2 ul a{
    display: block;
    font-size: 0.85rem;
    color: #dddddd;
    margin-top: 10px;
}
.foot2 ul p{
    font-size: 1.2rem;
    font-weight: 35px;
}

.foot3{
    height: 110px;
    background-color: #222f3d;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot4{
    background-color: #131A22;
    color:#cccccc;
    height:50px;
    font-size: 0.8rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
}
.pages{
    padding-top: 10px;
}
.copyright{
    margin:5px;
}
a:hover{
    text-decoration: underline;
}
